.grid1{
    display: grid;
    grid-template-columns: 1fr 1 fr 2 fr 1fr;
    grid-template-rows: 75px 75px;
    grid-gap: 15px;

}
.div1{
    background: green;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
}
.div2{
    background: blue;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}
.div3{
    background: red;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
}
.div4{
    background: purple;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
}
div > div{
    border: 2px solid black;
}