.pervy {
	border-style: solid;
	border-color: orange darkblue yellow chocolate;
}
.vtoroy {
	border-right: solid #007BA7;
	border-left: solid #007BA7;
}
.trety {
	border-top: solid rgb(229 43 80);
	border-right: dashed rgb(0 255 255);
	border-bottom: dashed rgb(0 255 255);
	border-left: dashed rgb(0 255 255);
}
.chetverty {
	border: 1px dotted orange;
}
.pytay {
	border-top: 2px solid darkblue;
	border-bottom: 2px solid darkblue;
	border-right: dashed rgb(128, 0, 0);
	border-left: dashed rgb(128, 0, 0);
}
.shestoy {
	border: double #B3446C;
}
.sedmoy {
	border-top: 1px dashed #808000;
	border-bottom: 3px solid #FF7518;
}
.vosmoy {
	border-bottom: double #CC7722;
	border-left: double #CC7722;
}
.devytuy {
	border-top: ridge #B5A642;
	border-right: ridge #B5A642;
}
.desytuy {
	border-bottom: 5px dotted rgb(0 40 0);
	border-right: 5px dotted rgb(0 40 0);
	border-left: 5px dotted rgb(0 40 0);
}