section{
	width: 1200px;
	height: 660px;
	border: 6px solid black;
	margin-top: 50px;

	
	animation-name: slider_infinity;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes slider_infinity {
	0% {
		background-image: url(dota2_1.jpg);
	}
	20%{
		background-image: url(dota2_2.jpg);
	}
	30%{
		background-image: url(dota2_2.jpg);
	}
	50%{
		background-image: url(dota2_4.jpg);
	}
	70%{
		background-image: url(dota2_4.jpg);
	}	
	100% {
		background-image: url(Gachi_3.jpg);
	}
}

div {
	width: 1120px;
	height: 630px;
	border: 10px solid black;
}
img {
	position: absolute;
	width: 1120px;
	height: 630px;
	opacity: 0;
}

@keyframes anime {
	0% {
		opacity: 1;
	}
	20%{
		opacity: 1;
	}
	21%{
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

div .priroda1 {
	animation-name: anime;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}

div .priroda2 {
	animation-name: anime;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

div .priroda3 {
	animation-name: anime;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 3s;
}

div .priroda4 {
	animation-name: anime;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 4s;
}

div .priroda5 {
	animation-name: anime;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 5s;
}


@keyframes forzagolovok {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 80%;
	}

	100% {
		opacity: 0;
	}
}

.forzagolovok {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	animation: forzagolovok 3s linear infinite;
}
