@font-face {
	font-family: 'Caveat';
	src: url('Caveat.woff')
}

@font-face {
	font-family: 'Exo2';
	src: url('Exo2.woff')
}

@font-face {
	font-family: 'Comfortaa';
	src: url('Comfortaa.woff')
}
table {
	border-collapse: collapse;
	background: #fc3;
}

th, td {
	border: 4px double black;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	text-indent: 25px;
	font-family: 'Comfortaa';
	line-height: 200%;
	font-size: 20px;
}

.q {
	transform: rotate(-90deg);
}
